<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "LocalBusiness",
    "name": "vibrant films LLC",
    "address": {
      "@type": "PostalAddress",
      "postalCode": "94110",
      "streetAddress": "180 Capp Street #4",
      "addressCountry": "USA",
      "addressRegion": "California",
      "addressLocality": "San Francisco",
      "telephone": "9512360557"
    },
    "image": "https://vibrantfilms.netlify.app/assets/video/Landing_Vibrant.jpg",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "ratingCount": "3"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "37.7638687",
      "longitude": "-122.4190881"
    },
    "telephone": "9512360557",
    "url": "https://www.vibrantfilms.com/"
  }
  </script>

  <script type="application/ld+json">

    {
    
      "@context": "https://schema.org/",
    
      "@type": "Review",
    
      "author": {
    
        "@type": "Person",
    
        "name": "Eric Higashino"
    
      },
    
      "itemReviewed": {
    
      "@type": "LocalBusiness",
    
    "name": "vibrant films LLC",
    
    "address": {
    
     "@type": "PostalAddress",
    
     "postalCode": "94110",
    
     "streetAddress": "180 Capp Street #4",
    
     "addressCountry": "USA",
    
     "addressRegion": "California",
    
     "addressLocality": "San Francisco",
    
     "telephone": "9512360557"
    
    },
    
    "image": "https://vibrantfilms.netlify.app/assets/video/Landing_Vibrant.jpg",
    
    "aggregateRating": {
    
     "@type": "AggregateRating",
    
     "ratingValue": "5",
    
     "ratingCount": "3"
    
    },
    
    "geo": {
    
     "@type": "GeoCoordinates",
    
     "latitude": "37.7638687",
    
     "longitude": "-122.4190881"
    
    },
    
    "telephone": "9512360557",
    
    "url": "https://www.vibrantfilms.com/"
    
    },
    
      "reviewRating": {
    
        "@type": "Rating",
    
        "ratingValue": "5",
    
        "worstRating": "1",
    
        "bestRating": "5",
    
        "reviewAspect": "video production services"
    
      },
    
      "datePublished": "2018-01-17T05:00:00.000Z",
    
      "description": "videography and video production",
    
      "url": "https://g.co/kgs/doYjXW",
    
      "reviewBody": [
    
        "As a UX designer I have had plenty of trouble dealing with video production companies that tend to focus on getting the video out that satisfies the brief and not working with me on developing my ideas. Vibrant Films have changed my mind about how a production company works with me on creating something that comes out better through inventive ideas. It doesn’t hurt that on the shoots Matt is a benevolent dictator and keeps spirits up high on long days."
    
      ],
    
      "reviewAspect": ""
    
    }
    
    </script>
    
    
    
    <script type="application/ld+json">
    
    {
    
      "@context": "https://schema.org/",
    
      "@type": "Review",
    
      "author": {
    
        "@type": "Person",
    
        "name": "Danielle Cheifetz"
    
      },
    
      "itemReviewed": {
    
      "@type": "LocalBusiness",
    
    "name": "vibrant films LLC",
    
    "address": {
    
     "@type": "PostalAddress",
    
     "postalCode": "94110",
    
     "streetAddress": "180 Capp Street #4",
    
     "addressCountry": "USA",
    
     "addressRegion": "California",
    
     "addressLocality": "San Francisco",
    
     "telephone": "9512360557"
    
    },
    
    "image": "https://vibrantfilms.netlify.app/assets/video/Landing_Vibrant.jpg",
    
    "aggregateRating": {
    
     "@type": "AggregateRating",
    
     "ratingValue": "5",
    
     "ratingCount": "3"
    
    },
    
    "geo": {
    
     "@type": "GeoCoordinates",
    
     "latitude": "37.7638687",
    
     "longitude": "-122.4190881"
    
    },
    
    "telephone": "9512360557",
    
    "url": "https://www.vibrantfilms.com/"
    
    },
    
      "reviewRating": {
    
        "@type": "Rating",
    
        "ratingValue": "5",
    
        "worstRating": "1",
    
        "bestRating": "5",
    
        "reviewAspect": "video production services"
    
      },
    
      "datePublished": "2022-01-17T05:00:00.000Z",
    
      "description": "video production and video services",
    
      "url": "https://g.co/kgs/Ryd5Tf",
    
      "reviewBody": [
    
        "It's great when I get a call from Vibrant Films, I always enjoy collaborating with Matt and the guys over there. He really understands what it takes to get a job done in the Bay Area - he's reliable, flexible, and diligently thorough on every project. Couldn't recommend Vibrant Films more highly."
    
      ],
    
      "reviewAspect": ""
    
    }
    
    </script>

<script>
  (function (i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function () {
        (i[r].q = i[r].q || []).push(arguments);
      }),
      (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );

  ga("create", "UA-83420302-3", "auto");
  ga("send", "pageview");
</script>
