<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2
            class="h1r wow fadeInRightBig"
            data-wow-offset="80"
            data-wow-duration="2s"
            style="margin-top: 40px;"
          >
            Blog
          </h2>
        </div>
        <div id="aq-block-1779-22" class="aq-block aq-block-aq_blog_carousel_block col-sm-12 aq-first ">
            <div id="grid-container2" class="cbp-l-grid-blog pad90">
                <ul>
                {% for post in site.posts | limit: 4 %}
                <li class="cbp-item">
                        <a href="{{ post.url }}" class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img width="480" height="360" src="{{ post.thumbnailImage }}" class="attachment-index size-index wp-post-image" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-text">read more</div>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="{{ post.url }}" class="cbp-l-grid-blog-title">{{ post.title }}</a>
                        <div class="cbp-l-grid-blog-date"><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></div>

                    </li>
                {% endfor %}
            </ul>
            </div>

        </div>
    </div>
</div>