<div class="container"> 
        <div class="row">
            <div class="col-sm-12">
                <h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.directorTitle }}</h1>
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.directorSubTitle | markdownify }}</div>
            </div>
            <div id="director-gallery">
                            {% assign directorWorkByPriority = site.director | sort:"priority" | reverse %} 
                            {% for directorWork in directorWorkByPriority %}

                            <a href="{{directorWork.permalink}}" data-src="{{directorWork.permalink}}"> 
                                <div class="col-sm-6" style="padding:0;">
                                    <div class="director-image" style="background-image: url({{ directorWork.thumbnailImage }});">
                                        {% if directorWork.displayTitle %}
                                            <p>{{ directorWork.title }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                          {% endfor %}
                        </div>
                        <div class="pad45"></div>
                        
        </div>
    </div>