<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2
        class="h1r wow fadeInRightBig"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        {{ site.data.content.equipmentRentalsTitle }}
      </h2>
      <div
        class="lead wow fadeInRightBig" 
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        {{ site.data.content.equipmentRentalsSubTitle | markdownify }}
      </div>
    </div>
    <div
      id="aq-block-1779-15"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3 aq-first"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h3 style="color:#fff;">Cameras</h3>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li><strong>RED Scarlet</strong></li>
              <li>Canon <strong>c100 </strong></li>
              <li>Canon <strong>5D Mark III</strong></li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-16"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h3 style="color:#fff;">Lenses</h3>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>Canon <strong>L 24-105</strong></li>
              <li>Canon <strong>L 70-200</strong></li>
              <li>Canon <strong>L 24-70</strong></li>
              <li>Canon <strong>16-35</strong></li>
              <li>Canon <strong>50 mm</strong></li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-17"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h3 style="color:#fff;">Lighting</h3>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>Kino 4x Kit</li>
              <li>Kino Diva</li>
              <li>1x1 LED Panel</li>
              <li>Arri Kit 650, 300, 150</li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-18"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h3 style="color:#fff;">Grip</h3>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>8x8 frame+Silks Solids</li>
              <li>Flag kit</li>
              <li>C-stands</li>
              <li>Sand Bags</li>
              <li>Clamps and Crates</li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-19"
      class="aq-block aq-block-aq_clients_block col-sm-12 aq-first"
    >
      <div class="wow fadeIn pad45" data-wow-offset="80">
        <div id="clients-carousel" class="clients-carousel"></div>
      </div>
      <div class="pad45"></div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-12" style="text-align: center;">
      <h3>Comprehensive Video Production Solutions</h3>
      <p>
      Vibrant films has over a decade of experience directing and producing films around California and the Bay Area.
      We collaborate with a wide range of artists, companies, event organizers, corporations, and visionaries to produce the highest quality videos, movies, and documentaries. Not only do we have an expert team of videographers, but also offer preproduction and consulting, production and post production to ensure the final video is professional and cohesive. Preproduction services include video concept, location scouting, permitting, equipment rental, etc. Post production, our team takes care of file management, editing, animation, recording and overdubbing, audio mastering, and file delivery in whatever format best suits our client's purpose.
      </p>
    </div>
  </div>
</div>
