<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1
        class="wow fadeInRightBig"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        {{ site.data.content.equipmentRentalsTitle }}
      </h1>
      <div
        class="lead wow fadeInRightBig"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        {{ site.data.content.equipmentRentalsSubTitle | markdownify }}
      </div>
    </div>
    <div
      id="aq-block-1779-15"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3 aq-first"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h2>Cameras</h2>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li><strong>RED Scarlet</strong></li>
              <li>Canon <strong>c100 </strong></li>
              <li>Canon <strong>5D Mark III</strong></li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-16"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h2>Lenses</h2>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>Canon <strong>L 24-105</strong></li>
              <li>Canon <strong>L 70-200</strong></li>
              <li>Canon <strong>L 24-70</strong></li>
              <li>Canon <strong>16-35</strong></li>
              <li>Canon <strong>50 mm</strong></li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-17"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h2>Lighting</h2>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>Kino 4x Kit</li>
              <li>Kino Diva</li>
              <li>1x1 LED Panel</li>
              <li>Arri Kit 650, 300, 150</li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-18"
      class="aq-block aq-block-aq_pricing_table_block col-sm-3"
    >
      <div
        class="wow bounceIn pricing text-center"
        data-wow-offset="80"
        data-wow-duration="2s"
      >
        <div class="price-plan">
          <div class="price-plan-top">
            <a href="#contact" class="price-plan-link">
              <h2>Grip</h2>
              <div class="price">
                <span class="dollar"></span>
                <span class="amt">0</span>
                <span class="mo"></span>
              </div>
            </a>
          </div>

          <div class="info-wrapper">
            <ul class="list-group">
              <li>8x8 frame+Silks Solids</li>
              <li>Flag kit</li>
              <li>C-stands</li>
              <li>Sand Bags</li>
              <li>Clamps and Crates</li>
            </ul>
            <a href="#contact" class="btn">REQUEST</a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="aq-block-1779-19"
      class="aq-block aq-block-aq_clients_block col-sm-12 aq-first"
    >
      <div class="wow fadeIn pad45" data-wow-offset="80">
        <div id="clients-carousel" class="clients-carousel"></div>
      </div>
      <div class="pad45"></div>
    </div>
  </div>
</div>
