<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">Equipment Rentals
            </h1>
            <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">We offer a
                <strong>variety of rental packages</strong>. Cameras, Lenses, Lights, Sound Package and Grip
                Equipment</div>
        </div>
        <div id="aq-block-1779-15" class="aq-block aq-block-aq_pricing_table_block col-sm-3 aq-first ">
            <div class="wow bounceIn pricing text-center" data-wow-offset="80" data-wow-duration="2s">
                <div class="price-plan">

                    <div class="price-plan-top">
                        <a href="#contact" class="price-plan-link">

                            <h2>Cameras</h2>
                            <div class="price">
                                <span class="dollar"></span>
                                <span class="amt">0</span>
                                <span class="mo"></span>
                            </div>
                        </a>
                    </div>

                    <div class="info-wrapper">
                        <ul class="list-group">
                            <li><strong>RED Scarlet</strong></li>
                            <li>Canon <strong>c100 </strong></li>
                            <li>Canon <strong>5D Mark III</strong></li>
                        </ul>
                        <a href="#contact" class="btn">REQUEST</a>
                    </div>

                </div>
            </div>

        </div>
        <div id="aq-block-1779-16" class="aq-block aq-block-aq_pricing_table_block col-sm-3  ">
            <div class="wow bounceIn pricing text-center" data-wow-offset="80" data-wow-duration="2s">
                <div class="price-plan">

                    <div class="price-plan-top">
                        <a href="#contact" class="price-plan-link">

                            <h2>Lenses</h2>
                            <div class="price">
                                <span class="dollar"></span>
                                <span class="amt">0</span>
                                <span class="mo"></span>
                            </div>
                        </a>
                    </div>

                    <div class="info-wrapper">
                        <ul class="list-group">
                            <li>Canon <strong>L 24-105</strong></li>
                            <li>Canon <strong>L 70-200</strong></li>
                            <li>Canon <strong>L 24-70</strong></li>
                            <li>Canon <strong>16-35</strong></li>
                            <li>Canon <strong>50 mm</strong></li>
                        </ul>
                        <a href="#contact" class="btn">REQUEST</a>
                    </div>

                </div>
            </div>

        </div>
        <div id="aq-block-1779-17" class="aq-block aq-block-aq_pricing_table_block col-sm-3  ">
            <div class="wow bounceIn pricing text-center" data-wow-offset="80" data-wow-duration="2s">
                <div class="price-plan">

                    <div class="price-plan-top">
                        <a href="#contact" class="price-plan-link">

                            <h2>Lighting</h2>
                            <div class="price">
                                <span class="dollar"></span>
                                <span class="amt">0</span>
                                <span class="mo"></span>
                            </div>
                        </a>
                    </div>

                    <div class="info-wrapper">
                        <ul class="list-group">
                            <li>Kino 4x Kit</li>
                            <li>Kino Diva</li>
                            <li>1x1 LED Panel</li>
                            <li>Arri Kit 650, 300, 150</li>
                        </ul>
                        <a href="#contact" class="btn">REQUEST</a>
                    </div>

                </div>
            </div>

        </div>
        <div id="aq-block-1779-18" class="aq-block aq-block-aq_pricing_table_block col-sm-3  ">
            <div class="wow bounceIn pricing text-center" data-wow-offset="80" data-wow-duration="2s">
                <div class="price-plan">

                    <div class="price-plan-top">
                        <a href="#contact" class="price-plan-link">

                            <h2>Grip</h2>
                            <div class="price">
                                <span class="dollar"></span>
                                <span class="amt">0</span>
                                <span class="mo"></span>
                            </div>
                        </a>
                    </div>

                    <div class="info-wrapper">
                        <ul class="list-group">
                            <li>8x8 frame+Silks Solids</li>
                            <li>Flag kit</li>
                            <li>C-stands</li>
                            <li>Sand Bags</li>
                            <li>Clamps and Crates</li>
                        </ul>
                        <a href="#contact" class="btn">REQUEST</a>
                    </div>

                </div>
            </div>

        </div>
        <div id="aq-block-1779-19" class="aq-block aq-block-aq_clients_block col-sm-12 aq-first ">
            <div class="wow fadeIn pad45" data-wow-offset="80">
                <div id="clients-carousel" class="clients-carousel">


                    <div class="item">
                        <img width="300" height="200"
                            src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl01.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1873"
                            data-permalink="https://www.vibrantfilms.com/cl01/"
                            data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl01.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl01" data-image-description=""
                            data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl01.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl01.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl02.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1874"
                            data-permalink="https://www.vibrantfilms.com/cl02/"
                            data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl02.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl02" data-image-description=""
                            data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl02.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl02.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl03.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1875"
                            data-permalink="https://www.vibrantfilms.com/cl03/"
                            data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl03.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl03" data-image-description=""
                            data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl03.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl03.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl04.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1876"
                            data-permalink="https://www.vibrantfilms.com/cl04/"
                            data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl04.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl04" data-image-description=""
                            data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl04.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl04.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl05.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1877"
                            data-permalink="https://www.vibrantfilms.com/cl05/"
                            data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl05.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl05" data-image-description=""
                            data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl05.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl05.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl06.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1878"
                            data-permalink="https://www.vibrantfilms.com/cl06/"
                            data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl06.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl06" data-image-description=""
                            data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl06.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl06.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl07.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1879"
                            data-permalink="https://www.vibrantfilms.com/cl07/"
                            data-orig-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl07.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl07" data-image-description=""
                            data-medium-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl07.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl07.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                    <div class="item">
                        <img width="300" height="200"
                            src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl08.png?fit=300%2C200&amp;ssl=1"
                            class="attachment-full size-full wp-post-image" alt="" data-attachment-id="1880"
                            data-permalink="https://www.vibrantfilms.com/cl08/"
                            data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl08.png?fit=300%2C200&amp;ssl=1"
                            data-orig-size="300,200" data-comments-opened="0"
                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                            data-image-title="cl08" data-image-description=""
                            data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl08.png?fit=300%2C200&amp;ssl=1"
                            data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/cl08.png?fit=300%2C200&amp;ssl=1" />
                    </div>
                </div>
            </div>
            <div class="pad45"></div>

        </div>
    </div>
</div>