<div id="header">
  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div id="logo">
        <a class="scroll" href="index.html">
          <span>Vibrant Films Creative Film Agency : San Francisco</span>
        </a>
      </div>

      <ul id="menu" class="">
        <li
          id="menu-item-1817"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1817"
        >
          <a href="http://mattbarkin.wpengine.com">HOME</a>
        </li>
        <li
          id="menu-item-1818"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1818"
        >
          <a href="#work">WORK</a>
        </li>
        <li
          id="menu-item-1819"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1819"
        >
          <a href="#what-we-do">WHAT WE DO</a>
        </li>
        <li
          id="menu-item-1820"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1820"
        >
          <a href="#who-we-are">WHO WE ARE</a>
        </li>
        <li
          id="menu-item-1821"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1821"
        >
          <a href="#equipment-rentals">RENTALS</a>
        </li>
        <li
          id="menu-item-1822"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1822"
        >
          <a href="#contact">CONTACT</a>
        </li>
        <li
          id="menu-item-1834"
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834"
        >
          <a href="blog/index.html">Blog</a>
        </li>
      </ul>
      <div id="nav-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</div>
