<div id="header">
  <div class="col-sm-12 col-lg-12">
    <div class="row">
      <div id="logo">
        <a class="scroll" href="/">
          <span>Vibrant Films Creative Film Agency : San Francisco</span>
        </a>
      </div>

      <ul id="menu" class="">
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/">HOME</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/#work">WORK</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/#what-we-do">WHAT WE DO</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/#who-we-are">WHO WE ARE</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/#equipment-rentals">RENTALS</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom">
          <a href="/#contact">CONTACT</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a href="/blog">Blog</a>
        </li>
      </ul>
      <div id="nav-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>
</div>