
<!-- Modal -->
<div class="modal fade" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title" id="exampleModalLabel">Get a quick FREE quote</h5>
        </div>
        <div class="modal-body">
  
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="full-project-tab" data-toggle="tab" href="#full-project" role="tab" aria-controls="full-project" aria-selected="false">Full Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact-modal" role="tab" aria-controls="contact-modal" aria-selected="false">Service</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="full-project" role="tabpanel" aria-labelledby="full-project-tab" required>
                <form name="quote-full-project" method="POST" data-netlify="true">
              <h4>Project Style</h4>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="project-style" id="interviews" value="interviews" required>
                <label class="form-check-label" for="interviews">Interviews</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="project-style" id="commercial" value="commercial" required>
                <label class="form-check-label" for="commercial">Commercial (with actors)</label>
              </div>

              <h4>Shoot days</h4>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoot-days" id="shootday1" value="1" required>
                <label class="form-check-label" for="shootday1">1</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoot-days" id="shootday2" value="2-3" required>
                <label class="form-check-label" for="shootday2">2-3</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoot-days" id="shootday3" value="3+" required>
                <label class="form-check-label" for="shootday3">3+</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shoot-days" id="shootday4" value="tbd" required>
                <label class="form-check-label" for="shootday4">TBD</label>
              </div>

              <h4>Final Deliverable</h4>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="final-deliverable" id="deliverable1" value="1" required>
                <label class="form-check-label" for="deliverable1">1-2 min</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="final-deliverable" id="deliverable2" value="2-3" required>
                <label class="form-check-label" for="deliverable2">3-4 min</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="final-deliverable" id="deliverable3" value="3+" required>
                <label class="form-check-label" for="deliverable3">5+ min</label>
              </div>

              <h4>Email for quote</h4>
              <input type="email" class="form-control" name="email" required>
                <br/>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
  
            </div>
            <div class="tab-pane fade" id="contact-modal" role="tabpanel" aria-labelledby="contact-tab">
                <form name="quote-service" method="POST" data-netlify="true">
                    <h4>Describe your needs</h4>
                    <textarea class="form-control" name="request" required></textarea>
                    <h4>Email for quote</h4>
                    <input type="email" class="form-control" name="email" required>
                    <br/>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>