<div id="su-footer-links" style="text-align: center;"></div>
<script
  type="text/javascript"
  src="/assets/vendor/js/jquery-v1.12.4.js"
></script>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $("#home").css({ height: $(window).innerHeight() });

    $(window).resize(function () {
      $("#home").css({ height: $(window).innerHeight() });
    });
    $(window)
      .on("resize", function resize() {
        $(window).off("resize", resize);
        setTimeout(function () {
          var content = $("#content");
          var top = (window.innerHeight - content.height()) / 2;
          content.css("top", Math.max(0, top) + "px");
          $(window).on("resize", resize);
        }, 50);
      })
      .resize();
  });
</script>
<script
  type="text/javascript"
  src="/assets/vendor/js/jquery-migrate-v1.4.1.min.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/custom.modernizr_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/bootstrap.min_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/jquery.appear_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/jquery.cubeportfolio.min_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/retina_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/smooth-scroll_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/plugins_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/plugins/lightgallery.js/dist/js/lightgallery.min.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/plugins/lightgallery.js/dist/js/lg-hash.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/plugins/lightgallery.js/dist/js/lg-video.min.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/plugins/jquery-video.js/jquery-video.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/scripts_ver=5.2.4.js"
></script>
<script
  type="text/javascript"
  src="/assets/vendor/VibrantFilms/js/main_ver=5.2.4.js"
></script>
