<div class="well" style="background-image: url({{ site.url }}/assets/img/uploads/Landing_Video3.jpg);">
    <div class="dark_overlay">
        <div class="container">
            <div class="col-sm-12">
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">Worrying is
                    using <strong>your imagination</strong> to create something you don’t want.
                    <br /><strong>Let’s figure it out together</strong>.
                    <br />
                    <a href="#contact" class="scroll btn wow bounceIn" data-wow-offset="80"
                        data-wow-duration="2s">CONTACT</a></div>
            </div>
        </div>
    </div>