<div id="aq-block-1779-20" class="aq-block aq-block-aq_background_video_block col-sm-12 aq-first ">
    <section class="wallpapered video-section" data-wallpaper-options='{"source":{
        "webm":"{{ site.url }}/assets/video/Landing_Vibrant.webm",
        "mp4":"{{ site.url }}/assets/video/Landing_Vibrant.mp4",
        "ogg":"{{ site.url }}/assets/video/Landing_Vibrant.ogv",
        "poster":"{{ site.url }}/assets/video/Landing_Vibrant.jpg"}}'>

        <div class="video_overlay">
            <div id="video_content">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 text-center wow fadeInUp" data-wow-offset="80"
                    data-wow-duration="2s">
                    <h2 class="text-center">We live to tell stories.</h2>
                    <h3 style="color:#fff;">Comprehensive Video Production Solutions</h3>
                    <p style="color:#fff;">
                    Vibrant films has over a decade of experience directing and producing films around California and the Bay Area.
                    We collaborate with a wide range of artists, companies, event organizers, corporations, and visionaries to produce the highest quality videos, movies, and documentaries. Not only do we have an expert team of videographers, but also offer preproduction and consulting, production and post production to ensure the final video is professional and cohesive. Preproduction services include video concept, location scouting, permitting, equipment rental, etc. Post production, our team takes care of file management, editing, animation, recording and overdubbing, audio mastering, and file delivery in whatever format best suits our client's purpose.
                    </p>
                    <style>
                        .item {
                            flex-basis: 50%;
                            margin-bottom: 10px;
                        }
                        .item ul li {
                            color:#fff;
                            list-style: none;
                        }
                        
                        .dot {
                            margin-right: 10px;
                        }
                    </style>
                    
                    <div style="display:flex; flex-wrap:wrap">
                        <div class="item">
                            <ul>
                                <li><span class="dot">&#8226;</span> Corporate interviews</li>
                                <li><span class="dot">&#8226;</span> Product videos</li>
                                <li><span class="dot">&#8226;</span> Advertisement</li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul>
                                <li><span class="dot">&#8226;</span> Documentaries</li>
                                <li><span class="dot">&#8226;</span> Mission statement videos</li>
                                <li><span class="dot">&#8226;</span> Commercials</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>