<div id="aq-block-1779-20" class="aq-block aq-block-aq_background_video_block col-sm-12 aq-first ">
    <section class="wallpapered video-section" data-wallpaper-options='{"source":{
        "webm":"{{ site.url }}/assets/video/Landing_Vibrant.webm",
        "mp4":"{{ site.url }}/assets/video/Landing_Vibrant.mp4",
        "ogg":"{{ site.url }}/assets/video/Landing_Vibrant.ogv",
        "poster":"{{ site.url }}/assets/video/Landing_Vibrant.jpg"}}'>

        <div class="video_overlay">
            <div id="video_content">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 text-center wow fadeInUp" data-wow-offset="80"
                    data-wow-duration="2s">
                    <h2 class="text-center">We live to tell stories.</h2>
                </div>
            </div>
        </div>

    </section>
</div>