<div class="pad45"></div>
<div class="well" style="background-image: url({{ site.url }}/assets/img/uploads/Landing_Video3.jpg);">
    <div class="dark_overlay">
        <div class="container">
            <div class="col-sm-12">
                <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.SeparatorText | markdownify }}
                    <br />
                    <a href="#contact" class="scroll btn wow bounceIn" data-wow-offset="80"
                        data-wow-duration="2s">CONTACT</a></div>
            </div>
        </div>
    </div>