<section id="home" class="jquery-background-video-wrapper">
  <div class="video_overlay"></div>
  <video
    autoplay
    loop
    muted
    playsinline
    data-bgvideo="true"
    poster="https://github.com/mattbarkin/vibrant-films/raw/master/assets/video/Landing_Vibrant.jpg"
    class="jquery-background-video"
  >
    <source
      src="https://github.com/mattbarkin/vibrant-films/raw/master/assets/video/Landing_Vibrant.webm"
      type="video/webm"
    />
    <source
      src="https://github.com/mattbarkin/vibrant-films/raw/master/assets/video/Landing_Vibrant.mp4"
      
      type="video/mp4"
    />
    <source
      src="https://github.com/mattbarkin/vibrant-films/raw/master/assets/video/Landing_Vibrant.ogv"
      type="video/ogg"
    />
  </video>

  <div id="content">
    <div class="text-center intro-logo">
      <picture>
        <source
          srcset="https://github.com/mattbarkin/vibrant-films/raw/master/assets/img/uploads/VIBRANTFILMS_small.webp"
          type="image/webp"
        />
        <source
          srcset="https://github.com/mattbarkin/vibrant-films/raw/master/assets/img/uploads/VIBRANTFILMS_small.png"
          type="image/png"
        />
        <img
          src="https://github.com/mattbarkin/vibrant-films/raw/master/assets/img/uploads/VIBRANTFILMS_small.png"
          alt="Vibrant Films Logo"
        />
      </picture>
    </div>

    <div class="byline pad45">
      {{ site.data.content.intro }}
    </div>

    <h1>
      <span> </span>
    </h1>

    <div class="name">
      {{ site.data.content.title }}
    </div>

    <div class="text-center pad30">
      <a href="#about" class="scroll" id="down-link">
        <i class="fa fa-caret-down fa-3x"></i
      ></a>
    </div>
  </div>
</section>
