<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h1r wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.whatWeDoTitle }}</h2>
            <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.whatWeDoSubTitle | markdownify }}</div>
        </div>
        <div id="aq-block-1779-4" class="aq-block aq-block-aq_service_block col-sm-4 aq-first ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-laptop"></i> </div>

                <h6>Advertisement</h6>
                <p>Get them hooked</p>
            </div>

        </div>
        <div id="aq-block-1779-5" class="aq-block aq-block-aq_service_block col-sm-4  ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-magic"></i> </div>

                <h6>Animation</h6>
                <p>You’re imagination realized.</p>
            </div>

        </div>
        <div id="aq-block-1779-6" class="aq-block aq-block-aq_service_block col-sm-4  ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-tasks"></i> </div>

                <h6>Corporate</h6>
                <p>Tell your story.</p>
            </div>

        </div>
        <div id="aq-block-1779-7" class="aq-block aq-block-aq_spacer_block col-sm-12 aq-first ">
            <div style="clear: both; width: 100%; height: 1px;"></div>

        </div>
        <div id="aq-block-1779-8" class="aq-block aq-block-aq_service_block col-sm-4 aq-first ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-users"></i> </div>

                <h6>Narrative</h6>
                <p>Drama first. Questions later.</p>
            </div>

        </div>
        <div id="aq-block-1779-9" class="aq-block aq-block-aq_service_block col-sm-4  ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-lightbulb-o"></i> </div>

                <h6>Profile Documentary</h6>
                <p>Educate, entice, enliven.</p>
            </div>

        </div>
        <div id="aq-block-1779-10" class="aq-block aq-block-aq_service_block col-sm-4  ">

            <div class="text-center wow fadeIn" data-wow-offset="80" data-wow-duration="2s" data-wow-delay="1s">
                <div class="service ">
                    <i class="fa fa-money"></i> </div>

                <h6>Crowdfunding</h6>
                <p>Share your vision with the world.</p>
            </div>

        </div>
    </div>
</div>