<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="h1r wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.whoWeAreTitle }}</h2>
            <div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.whoWeAreSubTitle | markdownify }}</div>
        </div>
        <div id="aq-block-1779-12" class="aq-block aq-block-aq_testimonial_carousel_block col-sm-12 aq-first ">
            <div class="testimonials owl-carousel thin text-center lead">
                <div class="item">{{ site.data.content.slide1 | markdownify }}</div>
                <div class="item">{{ site.data.content.slide2 | markdownify }}</div>
                <div class="item">{{ site.data.content.slide3 | markdownify }}</div>
                <div class="item">{{ site.data.content.slide4 | markdownify }}</div>
                <div class="item">{{ site.data.content.slide5 | markdownify }}</div>
                <div class="item">{{ site.data.content.slide6 | markdownify }}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" style="text-align:center;">
        <p>
            <a style="padding: 5px 10px;
            background: #000;
            border-radius: 10px;
            margin-bottom: 5px;" href="https://g.page/r/Cf8KekRp1AODEBM/review" target="_blank">Leave a review</a>
        </p>
    </div>
</div>