		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">work</h1>
					<div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">You can fail at
						what you <a href="#">don’t want</a> so you might as well take a chance at what you
						<strong>love</strong>.</div>
				</div>
				<div id="aq-block-1779-2" class="aq-block aq-block-aq_portfolio_block col-sm-12 aq-first ">
					<div id="filters-container" class="cbp-l-filters-button">
						<button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".advertisement" class="cbp-filter-item">Advertisement<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".corporate"
							class="cbp-filter-item">Corporate<span class="cbp-filter-counter"></span></button>
						<button
							data-filter=".profile-documentary" class="cbp-filter-item">Profile Documentary<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".reel"
							class="cbp-filter-item">Reel<span class="cbp-filter-counter"></span></button> </div>

					<div class="cbp-l-grid-project">

						<div id="grid-container3" class="cbp-l-grid-projects">
							<ul>

								{% for work in site.work %}

								<li class="cbp-item {{ work.tag }}">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="{{ work.thumbnailImage }}"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="{{ work.thumbnailImage }} 1440w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="2602"
												data-permalink="https://www.vibrantfilms.com/mexico/screen-shot-2018-12-10-at-2-12-10-pm/"
												data-orig-file="{{ work.thumbnailImage }}"
												data-orig-size="1909,1073" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="{{ work.title }}"
												data-image-description=""
												data-medium-file="{{ work.thumbnailImage }}"
												data-large-file="{{ work.thumbnailImage }}" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>{{ work.title }}</h5>
													<a href="portfolio/mexico/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="{{ work.permalink }}"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="{{ work.title }}">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
							  </a>
							  {% endfor %}

								<li class="cbp-item corporate">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?resize=480%2C360&amp;ssl=1 480w, https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="2587"
												data-permalink="https://www.vibrantfilms.com/portfolio/kaiser-smoothie-time/screen-shot-2018-09-25-at-12-45-09-pm/"
												data-orig-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?fit=1363%2C736&amp;ssl=1"
												data-orig-size="1363,736" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Screen Shot 2018-09-25 at 12.45.09 PM"
												data-image-description=""
												data-medium-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?fit=300%2C162&amp;ssl=1"
												data-large-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2018/09/Screen-Shot-2018-09-25-at-12.45.09-PM.png?fit=1024%2C553&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Kaiser &#8211; Smoothie Time</h5>
													<a href="portfolio/kaiser-smoothie-time/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/291778766"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Kaiser &#8211; Smoothie Time">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1872"
												data-permalink="https://www.vibrantfilms.com/portfolio/beartooth-2/beartooth-2/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Beartooth" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Beartooth.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Beartooth</h5>
													<a href="portfolio/beartooth-2/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/154773169"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Beartooth">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1726"
												data-permalink="https://www.vibrantfilms.com/portfolio/tango/tango/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?fit=1106%2C715&amp;ssl=1"
												data-orig-size="1106,715" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Tango" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?fit=300%2C194&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Tango.png?fit=1024%2C662&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Tango</h5>
													<a href="portfolio/tango/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/164770147"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Tango">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1846"
												data-permalink="https://www.vibrantfilms.com/portfolio/birksun/birksun/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="BirkSun" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/BirkSun.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Birksun</h5>
													<a href="portfolio/birksun/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/70221189"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Birksun">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?w=1266&amp;ssl=1 1266w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?resize=1024%2C768&amp;ssl=1 1024w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?resize=480%2C360&amp;ssl=1 480w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1724"
												data-permalink="https://www.vibrantfilms.com/portfolio/cruise/cruise-icon/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?fit=1266%2C950&amp;ssl=1"
												data-orig-size="1266,950" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Cruise icon" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?fit=300%2C225&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Cruise-icon.png?fit=1024%2C768&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Cruise</h5>
													<a href="portfolio/cruise/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/145559428"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Cruise">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item reel">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?zoom=2&amp;resize=480%2C360 960w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?zoom=3&amp;resize=480%2C360 1440w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1884"
												data-permalink="https://www.vibrantfilms.com/portfolio/outdoor-reel/outdoor_reel/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?fit=1915%2C1080&amp;ssl=1"
												data-orig-size="1915,1080" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="outdoor_reel" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?fit=300%2C169&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/outdoor_reel.jpg?fit=1024%2C578&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Outdoor Reel</h5>
													<a href="portfolio/outdoor-reel/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/166135036"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Outdoor Reel">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?w=1800&amp;ssl=1 1800w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?resize=300%2C225&amp;ssl=1 300w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?resize=768%2C576&amp;ssl=1 768w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?resize=1024%2C768&amp;ssl=1 1024w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?resize=480%2C360&amp;ssl=1 480w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1721"
												data-permalink="https://www.vibrantfilms.com/portfolio/rip-rock-rippers/rip-rock/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?fit=1800%2C1350&amp;ssl=1"
												data-orig-size="1800,1350" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Rip rock" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?fit=300%2C225&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Rip-rock.jpg?fit=1024%2C768&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Rip Rock Rippers</h5>
													<a href="portfolio/rip-rock-rippers/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/163442500"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Rip Rock Rippers">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Declara.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												data-attachment-id="1729"
												data-permalink="https://www.vibrantfilms.com/portfolio/declara/declara/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Declara.png?fit=790%2C428&amp;ssl=1"
												data-orig-size="790,428" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Declara" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Declara.png?fit=300%2C163&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Declara.png?fit=790%2C428&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Declara</h5>
													<a href="portfolio/declara/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/164771499"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Declara">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1725"
												data-permalink="https://www.vibrantfilms.com/portfolio/artist-profile/marco/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Marco" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Marco.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Artist Profile</h5>
													<a href="portfolio/artist-profile/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/119893153"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Artist Profile">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1852"
												data-permalink="https://www.vibrantfilms.com/portfolio/estimote/estimote/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Estimote" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Estimote.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Estimote</h5>
													<a href="portfolio/estimote/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/84608589"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Estimote">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1850"
												data-permalink="https://www.vibrantfilms.com/portfolio/yobongo/yobongo/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Yobongo" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Yobongo.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Yobongo</h5>
													<a href="portfolio/yobongo/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/20152078"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Yobongo">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1868"
												data-permalink="https://www.vibrantfilms.com/portfolio/pradeep-yoga/pradeep-yoga/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Pradeep yoga" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Pradeep-yoga.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Pradeep yoga</h5>
													<a href="portfolio/pradeep-yoga/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/17391722"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Pradeep yoga">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1866"
												data-permalink="https://www.vibrantfilms.com/portfolio/in-the-company-of-thieves/in-the-company-of-thieves/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="In the Company of Thieves" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/In-the-Company-of-Thieves.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>In the Company of Thieves</h5>
													<a href="portfolio/in-the-company-of-thieves/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/93506144"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="In the Company of Thieves">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1864"
												data-permalink="https://www.vibrantfilms.com/portfolio/healthright-360/healthright-360/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Healthright 360" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Healthright-360.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Healthright 360</h5>
													<a href="portfolio/healthright-360/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/79250446"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Healthright 360">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item profile-documentary">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?resize=480%2C360&amp;ssl=1 480w, https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1862"
												data-permalink="https://www.vibrantfilms.com/portfolio/spirit-works/spirit-works/"
												data-orig-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Spirit Works" data-image-description=""
												data-medium-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Spirit-Works.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Spirit Works</h5>
													<a href="portfolio/spirit-works/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/62452380"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Spirit Works">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item corporate">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1860"
												data-permalink="https://www.vibrantfilms.com/portfolio/bright-roll/bright-roll/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Bright Roll" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Bright-Roll.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Bright Roll</h5>
													<a href="portfolio/bright-roll/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/44273763"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Bright Roll">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item corporate">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1858"
												data-permalink="https://www.vibrantfilms.com/portfolio/lynda-com/lynda/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Lynda" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Lynda.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Lynda.com</h5>
													<a href="portfolio/lynda-com/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/78106969"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Lynda.com">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item corporate">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?resize=480%2C360&amp;ssl=1 480w, https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1856"
												data-permalink="https://www.vibrantfilms.com/portfolio/atlassian/atlassian/"
												data-orig-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Atlassian" data-image-description=""
												data-medium-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Atlassian.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Atlassian</h5>
													<a href="portfolio/atlassian/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/79253983"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Atlassian">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1854"
												data-permalink="https://www.vibrantfilms.com/portfolio/melges-race/melges-race/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Melges Race" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Melges-Race.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Melges Race</h5>
													<a href="portfolio/melges-race/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/76914988"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Melges Race">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?resize=480%2C360&amp;ssl=1 480w, https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1848"
												data-permalink="https://www.vibrantfilms.com/portfolio/comprehend/comprehend/"
												data-orig-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?fit=1300%2C720&amp;ssl=1"
												data-orig-size="1300,720" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="Comprehend" data-image-description=""
												data-medium-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?fit=300%2C166&amp;ssl=1"
												data-large-file="https://i1.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/Comprehend.jpg?fit=1024%2C567&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Comprehend</h5>
													<a href="portfolio/comprehend/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/165463445"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Comprehend">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item advertisement">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?resize=480%2C360&amp;ssl=1 480w, https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?zoom=2&amp;resize=480%2C360 960w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1722"
												data-permalink="https://www.vibrantfilms.com/portfolio/zmodo/zmodo-icon/"
												data-orig-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?fit=1216%2C921&amp;ssl=1"
												data-orig-size="1216,921" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Zmodo Icon" data-image-description=""
												data-medium-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?fit=300%2C227&amp;ssl=1"
												data-large-file="https://i2.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Zmodo-Icon.png?fit=1024%2C776&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>zmodo</h5>
													<a href="portfolio/zmodo/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/163446184"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="zmodo">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item corporate">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Kaiser.png?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												data-attachment-id="1727"
												data-permalink="https://www.vibrantfilms.com/portfolio/kaiser/kaiser/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Kaiser.png?fit=804%2C426&amp;ssl=1"
												data-orig-size="804,426" data-comments-opened="1"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
												data-image-title="Kaiser" data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Kaiser.png?fit=300%2C159&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2014/07/Kaiser.png?fit=804%2C426&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Kaiser</h5>
													<a href="portfolio/kaiser/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/164773581"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Kaiser">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
								<li class="cbp-item reel">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<img width="480" height="360"
												src="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?resize=480%2C360&amp;ssl=1"
												class="attachment-portfolio size-portfolio wp-post-image" alt=""
												srcset="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?resize=480%2C360&amp;ssl=1 480w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?zoom=2&amp;resize=480%2C360 960w, https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?zoom=3&amp;resize=480%2C360 1440w"
												sizes="(max-width: 480px) 100vw, 480px" data-attachment-id="1885"
												data-permalink="https://www.vibrantfilms.com/vibrant-project-logo-website-2016/"
												data-orig-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?fit=3002%2C2378&amp;ssl=1"
												data-orig-size="3002,2378" data-comments-opened="0"
												data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
												data-image-title="vibrant project logo WEBSITE 2016"
												data-image-description=""
												data-medium-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?fit=300%2C238&amp;ssl=1"
												data-large-file="https://i0.wp.com/www.vibrantfilms.com/wp-content/uploads/2016/05/vibrant-project-logo-WEBSITE-2016.jpg?fit=1024%2C811&amp;ssl=1" />
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>Vibrant Films Reel</h5>
													<a href="portfolio/reel/index.html"
														class="cbp-singlePage cbp-l-caption-buttonLeft">
														<i class="fa fa-link"></i>
													</a>

													<a href="https://vimeo.com/91013252"
														class="cbp-lightbox cbp-l-caption-buttonRight"
														data-title="Vibrant Films Reel">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
							</ul>
						</div>

					</div>
					<div class="pad45"></div>

				</div>
			</div>
		</div>