		<div class="container"> 
			<div class="row">
				<div class="col-sm-12">
					<h2 class="h1r wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.workTitle }}</h2>
					<div class="lead wow fadeInRightBig" data-wow-offset="80" data-wow-duration="2s">{{ site.data.content.workSubTitle | markdownify }}</div>
				</div>
				<div id="aq-block-1779-2" class="aq-block aq-block-aq_portfolio_block col-sm-12 aq-first ">
					<div id="filters-container" class="cbp-l-filters-button">
						<button data-filter="*" class="cbp-filter-item-active cbp-filter-item">All<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".advertisement" class="cbp-filter-item">Advertisement<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".corporate"
							class="cbp-filter-item">Corporate<span class="cbp-filter-counter"></span></button>
						<button
							data-filter=".profile-documentary" class="cbp-filter-item">Profile Documentary<span
								class="cbp-filter-counter"></span></button>
						<button data-filter=".reel"
							class="cbp-filter-item">Reel<span class="cbp-filter-counter"></span></button> </div>

					<div class="cbp-l-grid-project">

						<div id="grid-container3" class="cbp-l-grid-projects">
							<ul id="work-gallery">
								{% assign workByPriority = site.work | sort:"priority" | reverse %} 
								{% for work in workByPriority %}

								<li class="cbp-item {{ work.tag }}" data-src="{{ work.permalink }}">
									<div class="cbp-caption">

										<div class="cbp-caption-defaultWrap">
											<picture>
												<source
												  srcset="{{ work.thumbnailImage | replace: 'jpg', 'webp'  | replace: 'png', 'webp'}}"
												  type="image/webp"
												/>
												<source
												  srcset="{{ work.thumbnailImage }}"
												  type="image/jpg"
												/>
												<source
												  srcset="{{ work.thumbnailImage }}"
												  type="image/png"
												/>
												<img
												  src="{{ work.thumbnailImage }}"
												  alt="Vibrant Films Logo"
												/>
											  </picture>
										</div>

										<div class="cbp-caption-activeWrap">
											<div class="cbp-l-caption-alignCenter">
												<div class="cbp-l-caption-body">

													<h5>{{ work.title }}</h5>

													<a href="{{ work.permalink }}"
														class="cbp-l-caption-buttonRight"
														data-title="{{ work.title }}">
														<i class="fa fa-film"></i>
													</a>

												</div>
											</div>
										</div>


									</div>
								</li>
							  </a>
							  {% endfor %}
							</ul>
						</div>

					</div>

				</div>
			</div>
		</div>