---
layout: default
---

<div class="pad90"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">

      {% include intro-blog.html %}

      <div class="row">
        <div class="pad30"></div>
        <div class="col-md-8">

          <section>
            {% for post in site.posts %}
            <article class="post">
              <h1 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
              <h6><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> -
                <a href="#" rel="category tag">Uncategorized</a>
              </h6>
              <p>{{ post.excerpt | strip_newlines | truncate: 260 }}</p>
              <a href="{{ post.url }}">read more</a> &rarr;

              <div class="pad45"></div>
            </article>
            {% endfor %}
          </section>
        </div>
        <!--/col-md-8-->

        <div class="col-md-3 col-md-offset-1">
          <aside>
            <div id="search-2" class="sidebox widget widget_search">
              <form class="searchform" method="get" id="searchform" action="../index.html">
                <div class="input-group">
                  <input class="form-control" placeholder="Search" name="s" id="s" type="text">
                </div>
              </form>
            </div>
            <div class="pad30"></div>
            <div id="recent-posts-2" class="sidebox widget widget_recent_entries">
              <h6 class="widget-title">Recent Posts</h6>
              <ul>
                {% for post in site.posts limit:5 %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="pad30"></div>
            <div id="recent-comments-2" class="sidebox widget widget_recent_comments">
              <h6 class="widget-title">Recent Comments</h6>
              <ul id="recentcomments"></ul>
            </div>
            <div class="pad30"></div>
            <div id="archives-2" class="sidebox widget widget_archive">
              <h6 class="widget-title">Archives</h6>
              <ul>
                <li><a href='../2019/09/index.html'>September 2019</a></li>
                <li><a href='../2019/06/index.html'>June 2019</a></li>
                <li><a href='../2018/12/index.html'>December 2018</a></li>
                <li><a href='../2018/10/index.html'>October 2018</a></li>
                <li><a href='../2018/08/index.html'>August 2018</a></li>
                <li><a href='../2018/05/index.html'>May 2018</a></li>
                <li><a href='../2018/04/index.html'>April 2018</a></li>
                <li><a href='../2018/03/index.html'>March 2018</a></li>
                <li><a href='../2018/02/index.html'>February 2018</a></li>
                <li><a href='../2017/09/index.html'>September 2017</a></li>
                <li><a href='../2017/08/index.html'>August 2017</a></li>
                <li><a href='../2015/07/index.html'>July 2015</a></li>
                <li><a href='../2015/05/index.html'>May 2015</a></li>
                <li><a href='../2014/10/index.html'>October 2014</a></li>
                <li><a href='../2014/07/index.html'>July 2014</a></li>
                <li><a href='../2014/06/index.html'>June 2014</a></li>
                <li><a href='../2014/03/index.html'>March 2014</a></li>
                <li><a href='../2014/02/index.html'>February 2014</a></li>
                <li><a href='../2014/01/index.html'>January 2014</a></li>
                <li><a href='../2013/11/index.html'>November 2013</a></li>
                <li><a href='../2013/08/index.html'>August 2013</a></li>
                <li><a href='../2013/07/index.html'>July 2013</a></li>
                <li><a href='../2013/05/index.html'>May 2013</a></li>
                <li><a href='../2013/02/index.html'>February 2013</a></li>
                <li><a href='../2013/01/index.html'>January 2013</a></li>
                <li><a href='../2010/10/index.html'>October 2010</a></li>
              </ul>
            </div>
            <div class="pad30"></div>
            <div id="categories-2" class="sidebox widget widget_categories">
              <h6 class="widget-title">Categories</h6>
              <ul>
                <li class="cat-item cat-item-156"><a href="../category/blog/index.html">Blog</a>
                </li>
                <li class="cat-item cat-item-10"><a href="../category/film-news/index.html">Film news</a>
                </li>
                <li class="cat-item cat-item-9"><a href="../category/talking-shop/index.html">Talking shop</a>
                </li>
                <li class="cat-item cat-item-1"><a href="../category/uncategorized/index.html">Uncategorized</a>
                </li>
                <li class="cat-item cat-item-17"><a href="../category/vibrant-films-production-news/index.html">Vibrant
                    Films production news</a>
                </li>
              </ul>
            </div>
            <div class="pad30"></div>
            <div id="meta-2" class="sidebox widget widget_meta">
              <h6 class="widget-title">Meta</h6>
              <ul>
                <li><a href="../wp-login.php.html">Log in</a></li>
                <li><a href="../feed/index.rss">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                <li><a href="../comments/feed/index.rss">Comments <abbr title="Really Simple Syndication">RSS</abbr></a>
                </li>
                <li><a href="https://wordpress.org/"
                    title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a>
                </li>
              </ul>
            </div>
            <div class="pad30"></div>
          </aside>
        </div>
      </div>
      <!--/row-->

      <div class='pagination clearfix'>
        <ul>
          <li class='active'><a href='index.html'>1</a></li>
          <li><a href='page/2/index.html'>2</a></li>
          <li><a href='page/3/index.html'>3</a></li>
          <li><a href='page/4/index.html'>4</a></li>
          <li><a href='page/5/index.html'>5</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>