---
layout: default
---

<div class="pad90"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">

      {% include intro-blog.html %}

      <div class="row">
        <div class="pad30"></div>
        <div class="col-md-8">

          <section>
            {% for post in site.posts %}
            <article class="post">
              <h1 class="blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
              <h6><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> -
                <a href="#" rel="category tag">Uncategorized</a>
              </h6>
              <p>{{ post.excerpt | strip_newlines | truncate: 260 }}</p>
              <a href="{{ post.url }}">read more</a> &rarr;

              <div class="pad45"></div>
            </article>
            {% endfor %}
          </section>
        </div>
        <!--/col-md-8-->

        {% include blog-sidebar.html %}
      </div>
      <!--/row-->

      <div class='pagination clearfix'>
        <ul>
          <li class='active'><a href='index.html'>1</a></li>
          <li><a href='page/2/index.html'>2</a></li>
          <li><a href='page/3/index.html'>3</a></li>
          <li><a href='page/4/index.html'>4</a></li>
          <li><a href='page/5/index.html'>5</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>