<!DOCTYPE html>
<html lang="en">

    {% if page.layout == "blog" or page.layout == "post" %} 
      {% include head-subpage.html %}
      {% include header-blog.html %} 
      
    {% else %} 
    {% include head.html %}

    <body class="home">
      {% include header.html %} 
    {% endif %} 
    
    {{ content }}

    <section id="contact" class="page-section colour-section">
      {% include contact.html %}
    </section>

    {% include footer.html %} {% include scripts.html %}
  </body>
</html>
