---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<div class="pad90"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      {% include intro-blog.html %}

      <div class="row">
        <div class="pad30"></div>
        <div class="col-md-8">
          <h2>{{ page.title }}</h2>

          <time datetime="{{ page.date }}">
            <small>
              <strong>{{ page.date | date_to_string }}</strong>
              {% if author %} by {{ author.name }} {% endif %}
            </small>
          </time>
          <br/>

          {% include page-intro.html %} 
          
          {{ content }}

          <nav aria-label="Adjacent Posts">
            <ul class="post-pagination">
              {% if page.previous.url %}
              <li class="prev">
                <a href="{{page.previous.url}}" rel="prev"
                  >&laquo; {{page.previous.title}}</a
                >
              </li>
              {% endif %} {% if page.next.url %}
              <li class="next">
                <a href="{{page.next.url}}" rel="next"
                  >{{page.next.title}} &raquo;</a
                >
              </li>
              {% endif %}
            </ul>
          </nav>
          <br/>
        <div class="pad30"></div>
      </div>

        {% include blog-sidebar.html %}
      </div>
    </div>
  </div>
</div>
